* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #32528875;

}

h1 {
    padding: 20px;
    text-shadow: 0 0 15px #292929;
    color: black;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.wfl {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.wfl fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    width: 100%;
    box-sizing: border-box;
}

.wfl legend {
    color: #32437b;
    padding: 0 .5rem;

}

.wfl div {
    padding-top: 1rem;
    color: #32437b;
    font-size: .9rem;
}

.wfl label.top {
    display: block;
    padding-top: 1rem;
    color: #32437b;
    font-size: .9rem;
    
}

.wfl label.top input,
.wfl label.top select,
.wfl label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
}

.check {
    display: block;

}

.check label {
    display: flex;
    color: #9c2c13;
}

.check label input[type="checkbox"] {
    margin-right: 6px;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 400px;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


#feedback {
    color: red;
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars>label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
    /* remove blinking cursor*/
}

.stars>label:hover {
    color: #000;
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

footer {
    padding: 10px;
    background-color: #32528875;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#lastModified {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: smaller;
    display: grid;
}