@media (min-width: 640px) {
    nav ul {
        display: flex !important;

    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .hamburger {
        display: none;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

}